<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
</head>
<body>
    <p style="font-size: 18px; text-transform: capitalize;">Hey <%= name %>,</p><br/>
    <p>Verify your email with the One Time Password</p><br/>
    <p><strong>Your OTP Code: <%= otp %></strong></p><br/>
    <p>This code will expire in 5 minutes. For your security, do not share this OTP with anyone.<br/>If you didn't request this email, you can safely ignore it.</p><br/>
    <p>Regards,<br/>CRM System</p>
</body>
</html>